<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}XRPL Platform{% endblock title %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block styles %}
    {% endblock styles %}
</head>
<body>

    <header>
        <h1>XRPL Platform</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/login/">Login</a></li>
                <li><a href="/payment/">Payment</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <p>&copy; I Brad we trust</p>
    </footer>

    
    {% block scripts %}
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock scripts %}
</body>
</html>